html{
	font-size: 15px;
	font-family: Sans-serif;
}

body{
	background-color: #87CEEB;
	text-align: left;
	margin: 50px;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/03/2019, 07:26:07 PM
    Author     : Kevin
*/

